.header {
    width: 100%;
    font-size: 0.9rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
}

.logo {
    height: 100%;
    width: 114px;
    padding: 3px;
}

.logo a {
    width: 100%;
    height: 100%;
    font-size: small;
}
.logo a img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.logo:hover {
    opacity: .8;
}
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    font-size: 105%;
}

.navbar ul li {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar ul li a {
    font-weight: 800;
    padding: 10px;
    text-decoration: none;
    color: #000;
    width: 100%;
    cursor: pointer;
    position: relative;

}
.mainlink{
    display: flex;
    align-items: center;
}
.navbar ul li a:hover {
    color: #b4966e;
}
.navbar ul li .mainlink::after {
    content: "";
    position: absolute;
    bottom: 8px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: #000;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.navbar ul li .mainlink:hover::after {
    transform: scaleX(1);
}
